In [1]:
#imports
import pandas as pd
import numpy as np
import os

In [2]:
# set the path of the raw data
raw_data_path = os.path.join(os.path.pardir, 'data', 'raw')
train_file_path = os.path.join(raw_data_path, 'train.csv')
test_file_path = os.path.join(raw_data_path, 'test.csv')

# read the data with all default parameters
train_df = pd.read_csv(train_file_path, index_col='PassengerId')
test_df = pd.read_csv(test_file_path, index_col='PassengerId')

# Add Survived to 'test' so as to match columns with 'train' and concat
test_df['Survived'] = -888

df = pd.concat((train_df, test_df),axis=0)

# Grouping and Aggregations

In [3]:
# group by
df.groupby('Sex').Age.median()

Sex
female    27.0
male      28.0
Name: Age, dtype: float64

In [4]:
# group by
df.groupby('Pclass').Fare.median()

Pclass
1    60.0000
2    15.0458
3     8.0500
Name: Fare, dtype: float64

In [5]:
# group by
df.groupby('Pclass').Age.median()

Pclass
1    39.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [9]:
# group by
df.groupby(['Pclass'])[['Fare', 'Age']].median()

           Fare   Age
Pclass
1       60.0000  39.0
2       15.0458  29.0
3        8.0500  24.0

In [11]:
# group by with aggregation
df.groupby(['Pclass']).agg({'Fare' : 'mean', 'Age': 'median'})

             Fare   Age
Pclass
1       87.508992  39.0
2       21.179196  29.0
3       13.302889  24.0

In [15]:
df.groupby(['Pclass', 'Embarked']).Fare.median()

Pclass  Embarked
1       C           76.7292
        Q           90.0000
        S           52.0000
2       C           15.3146
        Q           12.3500
        S           15.3750
3       C            7.8958
        Q            7.7500
        S            8.0500
Name: Fare, dtype: float64